# Docker Compose for running Odoo using the base image
# 
# Prerequisites:
#   Build the base image first using build.sh or docker-compose.build.yml
#
# Usage:
#   docker-compose up -d

services:
  web:
    image: ${IMAGE_NAME:-odoo-enterprise}:${IMAGE_TAG:-19.0}
    depends_on:
      - db
    ports:
      - "8069:8069"
    volumes:
      - odoo-web-data:/var/lib/odoo
      - ./extra-addons:/mnt/extra-addons
    environment:
      - HOST=db
      - USER=odoo
      - PASSWORD=odoo

  db:
    image: postgres:16
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD=odoo
      - POSTGRES_USER=odoo
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - odoo-db-data:/var/lib/postgresql/data/pgdata

volumes:
  odoo-web-data:
  odoo-db-data:
